.product {
  width: calc(100% / 5 - 12px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px #b0bec5;
  border-radius: 2px;
  padding: 15px;
  transition: all 0.4s;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 15px;
}

.product:nth-child(5n) {
  margin-right: 0;
}

.product:hover {
  box-shadow: 0 2px 6px #78909c;
  transform: scale(1.01);
}

.product img {
  max-width: 100%;
  cursor: pointer;
}

.product-content h3 {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 38px;
}

.product-content .product-price {
  font-weight: 600;
  color: var(--secondary);
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .product {
    width: calc(100% / 3 - 12px);
  }

  .product:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: calc(100% / 2 - 12px);
  }

  .product:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .product {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
