.product-gallery {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.product-gallery-main {
    width: calc(100% - 170px);
}

.product-gallery-main img {
    max-width: 100%;
}

.product-gallery-thumbnails {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 20px;
}

.product-gallery-thumbnails li {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.product-gallery-thumbnails li img {
    max-width: 100%;
}

.active {
    border: 3px solid var(--secondary);
}