.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort select {
    min-width: 150px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}